<div class="container">
 <div class="row">
  <div class="col-sm-3 mt-3">
   <table class = "table-sm table-borderless">
    <thead>
     <th class="table-active h4">投稿一覧</th>
    </thead>
   </table>
  </div>
 </div>

<% @hobbyposts.each do |hobbyposts| %>
 <%= hobbyposts.genre.name %>
 <%= link_to hobbyposts.title, hobbypost_path(hobbyposts.id) %>
 <%= hobbyposts.introduction %>
 <% if hobbyposts.image.attached? %>
    <%= image_tag hobbyposts.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>
<% end %>