<script src="https://kit.fontawesome.com/a59fc93d49.js" crossorigin="anonymous"></script>
<div class="container">
 <div class="row">
  <div class="col-sm-12 mt-3">
   <span class = "h5 text-dark">投稿詳細</span>
  </div>
 </div>

 <div class="row">
  <div class="col-sm-7 mt-3">
   <table class="table table-borderless">
    <tbody>
     <tr>
      <td>ジャンル</td>
      <td><%= @hobbypost.genre.name %></td>
     </tr>
     <tr>
      <td>タイトル</td>
      <td><%= @hobbypost.title %></td>
     </tr>
     <tr>
      <td>内容</td>
      <td><%= @hobbypost.introduction %></td>
     </tr>
     <tr>
      <td>画像</td>
      <td>
      <% if @hobbypost.image.attached? %>
       <%= image_tag @hobbypost.image, size: "200x200" %>
      <% else %>
       <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
      </td>
     </tr>
    </tbody>
   </table>
  </div>
 </div>


  <% if @hobbypost.favorited?(current_member) %>
   <%= link_to hobbypost_favorite_path(@hobbypost.id), class:"link", method: :delete do %>
    <i class="fas fa-heart" style="color :red"></i>
   <% end %>
   いいね！を取り消す
  <% else %>
   <%= link_to hobbypost_favorites_path(@hobbypost.id), method: :post do %>
    <i class="far fa-heart" style="color :red"></i>
   <% end %>
   いいね！
  <% end %>
  <%= @favorite_count %>


 <div class="row">
  <div class="col-sm-7 mt-3">
   コメント
  <% if @hobbypost.comments.present? %>
  <%# and @hobbypost.comments.is_active==true %>
  <table>
   <% @hobbypost.comments.each do |comment| %>
   <tr>
    <td><%= comment.member.nickname %>さん</td>
    <td><%= comment.content %></td>
    <td><%= comment.created_at.to_s(:datetime_jp) %></td>
   <tr>
   <% end %>
  </table>
  <% else %>
   コメントはありません。
  <% end %>
  </div>
 </div>

 <div class="row">
  <div class="col-sm-7 mt-3">
      <% if @hobbypost.member == current_member %>
       <%= link_to "編集する", edit_hobbypost_path, class: "btn btn-success btn-lg mb-2" %></td>
       <%= link_to "削除する", hobbypost_path(@hobbypost), method: :delete, class: "btn btn-danger btn-lg mb-2" %></td>
      <% else %>
       <%= form_with model: @comment, url: comments_path, method: :post, local: true do |f| %>
        <%= f.hidden_field :member_id, :value => current_member.id %>
        <%= f.hidden_field :hobbypost_id, value: @hobbypost.id %>
        <%= f.label :content, "コメント" %>
        <%= f.text_area :content %>
        <%= f.submit "投稿", class: "btn btn-danger btn-lg mb-2" %>
       <% end %>
      <% end %>
  </div>
 </div>
</div>