<div class="container">
 
 <div class="row"> 
  <div class="col-sm-2 mt-3">
   <table class = "table-sm table-borderless">
    <thead>
     <th class="table-active h5">会員一覧</th>
    </thead>
   </table>
  </div>
 </div>
 
 <div class="row">
  <div class="col-sm-12 mt-3">
   <table class = "table">
    <thead class = "thead-light">
     <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
     </tr>   
    </thead>
    <tbody>
     <% @members.each do |member| %>
     <tr>
      <td><%= member.id %></td>
      <td><%= link_to member.full_name, admin_member_path(member.id) %></td>
      <td><%= member.email %></td>
      <td><%= member.is_active %></td>
     </tr>
     <% end %>
    </tbody>
   </table>
  </div>
 </div>
 <div class="row">
  <div class="col-sm-12 mt-3">
   <div class="d-flex justify-content-center">
    <%= paginate @members %>
   </div>
  </div>
 </div>
 
</div>