<div class="container">
 <div class="row">
  <div class="col-sm-3 mt-3">
   <table class = "table-sm table-borderless">
    <thead>
     <th class="table-active h4">会員情報編集</th>
    </thead>
   </table>
  </div>
 </div>


<%= form_with model: @member, url: member_path(current_member.id), local:true do |f| %>
 <div class="row">
  <div class="col-sm-7 mt-3">
   <table class="table table-borderless">
    <tbody>
     <tr>
      <td>氏名</td>
      <td><%= f.text_field :last_name %></td>
      <td><%= f.text_field :first_name %></td>
     </tr>
     <tr>
      <td>フリガナ</td>
      <td><%= f.text_field :last_name_kana %></td>
      <td><%= f.text_field :first_name_kana %></td>
     </tr>
     <tr>
      <td>ニックネーム</td>
      <td><%= f.text_field :nickname %></td>
     </tr>
     <tr>
      <td>性別</td>
      <td>
       <%= f.radio_button :gender, :male %>
       <%= f.label :gender_male, "男性" %>
       <%= f.radio_button :gender, :female %>
       <%= f.label :gender_female, "女性" %>
   　　</td>
     </tr>
     <tr>
      <td>年齢</td>
      <td><%= f.text_field :age %></td>
     </tr>
     <tr>
      <td>電話番号</td>
      <td><%= f.text_field :telephone_number %></td>
     </tr>
     <tr>
      <td>メールアドレス</td>
      <td><%= f.text_field :email %></td>
     </tr>
     <tr>
      <td></td>
      <td><%= f.submit "編集内容を保存", class: "btn btn-success btn-sm mt-2 mb-2" %></td>
  <% end %>
      <td><%= link_to "退会する", unsubscribe_path, class: "btn btn-danger btn-sm mt-2 mb-2" %></td>
     </tr>
　  </tbody>
 　</table>
  </div>
 </div>
</div>
