<div class="container">
 <div class="row">
  <div class="col-sm-12 mt-3">
   <span class = "h5 text-dark">マイページ</span>
  </div>
 </div>

 <div class="row">
  <div class="col-sm-4 mt-3">
   <table class="table table-borderless">
    <tbody>
     <tr>
      <% if @member.image.attached? %>
       <%= image_tag @member.image, size: "200x200" %>
      <% else %>
       <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
     </tr>
     <tr>
      <td>氏名</td>
      <td><%= @member.last_name %>　<%= @member.first_name %></td>
     </tr>
     <tr>
      <td>フリガナ</td>
      <td><%= @member.last_name_kana %>　<%= @member.first_name_kana %></td>
     </tr>
     <tr>
      <td>ニックネーム</td>
      <td><%= @member.nickname %></td>
     </tr>
     <tr>
      <td>性別</td>
      <td><%= @member.gender %></td>
     </tr>
     <tr>
      <td>年齢</td>
      <td><%= @member.age %></td>
     </tr>
     <tr>
      <td>電話番号</td>
      <td><%= @member.telephone_number %></td>
     </tr>
     <tr>
      <td>メールアドレス</td>
      <td><%= @member.email %></td>
     </tr>
    </tbody>
   </table>
  </div>
 </div>

 <div class="row">
  <div class="col-sm-2 mt-3"></div>
  <div class="col-sm-2 mt-3"><%= link_to "編集する", edit_member_path,  class: "btn btn-success btn-sm mb-2" %></div>
  <div class="col-sm-2 mt-3">
   
   <%#= link_to "投稿一覧を見る", admin_order_path,  class: "btn btn-primary btn-sm mb-2" %></div>
 </div>

</div>