<div class="container">
 <div class="row">
  <div class="col-sm-12 mt-3">
   <span class = "h5 text-dark">マイページ</span>
  </div>
 </div>

 <div class="row">
  <div class="col-sm-4 mt-3">
   <table class="table table-borderless">
    <tbody>
     <tr>
      <% if @member.image.attached? %>
       <%= image_tag @member.image, size: "200x200" %>
      <% else %>
       <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
     </tr>
     <tr>
      <td>氏名</td>
      <td><%= @member.last_name %>　<%= @member.first_name %></td>
     </tr>
     <tr>
      <td>フリガナ</td>
      <td><%= @member.last_name_kana %>　<%= @member.first_name_kana %></td>
     </tr>
     <tr>
      <td>ニックネーム</td>
      <td><%= @member.nickname %></td>
     </tr>
     <tr>
      <td>性別</td>
      <td><%= @member.gender %></td>
     </tr>
     <tr>
      <td>年齢</td>
      <td><%= @member.age %></td>
     </tr>
     <tr>
      <td>電話番号</td>
      <td><%= @member.telephone_number %></td>
     </tr>
     <tr>
      <td>メールアドレス</td>
      <td><%= @member.email %></td>
     </tr>
    </tbody>
   </table>
   <%= link_to "編集する", edit_member_path,  class: "btn btn-success btn-sm mb-2" %>
  </div>

  <div class="col-sm-8 mt-3">
  これまでの投稿
   <table class = "table table-border">
     <thead class = "thead-light">
      <tr>
       <th>ジャンル</th>
       <th>タイトル</th>
       <th>投稿内容</th>
       <th>画像</th>
       <th>状態</th>
      </tr>
     </thead>
     <tbody>
     <% @hobbyposts.each do |hobbypost| %>
     <tr>
       <td><%= hobbypost.genre.name %></td>
       <td><%= link_to hobbypost.title, hobbypost_path(hobbypost.id) %></td>
       <td><%= hobbypost.introduction %></td>
       <td>
        <% if hobbypost.image.attached? %>
         <%= image_tag hobbypost.image, size: "200x200" %>
        <% else %>
         <%= image_tag 'no_image', size: "200x200" %>
        <% end %>
       </td>
       <td><%= hobbypost.status %></td>
     </tr>
     <% end %>
     </tbody>
     </table>
   </div>
 </div>



</div>