<div class="container">
 <div class="row">
  <div class="col-sm-4 mt-3">
   <table class = "table-sm table-borderless">
     <thead>
     <th class="table-active h4">新規会員登録</th>
     </thead>
   </table>
  </div>
 </div>

  <%= render "public/shared/error_messages", resource: resource %>


<%= form_with model: @member, url: member_registration_path(@member), local: true do |f| %>

 <div class="row">
  <div class="col-sm-2 mt-4">名前</div>
  <div class="col-sm-1 mt-4"><%= f.label :last_name, "(姓)　" %></div>
  <div class="col-sm-3 mt-4"><%= f.text_field :last_name, autofocus: true %></div>
  <div class="col-sm-3 mt-4"><%= f.label :first_name, "(名)　" %><%= f.text_field :first_name, autofocus: true %></div>
 </div>

 <div class="row">
  <div class="col-sm-2 mt-3">フリガナ</div>
  <div class="col-sm-1 mt-3"><%= f.label :last_name_kana, "(セイ)" %></div>
  <div class="col-sm-3 mt-3"><%= f.text_field :last_name_kana, autofocus: true %></div>
  <div class="col-sm-3 mt-3"><%= f.label :first_name_kana, "(メイ)" %><%= f.text_field :first_name_kana, autofocus: true %></div>
 </div>

 <div class="row">
  <div class="col-sm-3 mt-3">メールアドレス</div>
  <div class="col-sm-2 mt-3"><%= f.email_field :email, autofocus: true %></div>
 </div>

 <div class="row">
  <div class="col-sm-3 mt-3">性別</div>
  <div class="col-sm-1 mt-3">
   <%= f.radio_button :gender, :male %>
   <%= f.label :gender_male, "男性" %>
  </div>
  <div class="col-sm-1 mt-3">
   <%= f.radio_button :gender, :female %>
   <%= f.label :gender_female, "女性" %>
  </div>
 </div>

 <div class="row">
  <div class="col-sm-3 mt-3">年齢</div>
  <div class="col-sm-3 mt-3"><%= f.text_field :age, autofocus: true %></div>
 </div>

 <div class="row">
  <div class="col-sm-3 mt-3">ニックネーム</div>
  <div class="col-sm-3 mt-3"><%= f.text_field :nickname, autofocus: true %></div>
 </div>

 <div class="row">
  <div class="col-sm-3 mt-3">電話番号(ハイフンなし)</div>
  <div class="col-sm-3 mt-3"><%= f.text_field :telephone_number, autofocus: true %></div>
 </div>

 <div class="row">
  <div class="col-sm-3 mt-3">パスワード(６文字以上)</div>
  <div class="col-sm-3 mt-3"><%= f.password_field :password, autocomplete: "new-password" %></div>
 </div>

 <div class="row">
  <div class="col-sm-3 mt-3">パスワード(確認用)</div>
  <div class="col-sm-3 mt-3"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></div>
 </div>
 
 <div class="row">
  <div class="col-sm-3 mt-3">アイコン画像</div>
  <div class="col-sm-3 mt-3"> <%= f.file_field :image, accept: "image/*" %></div>
 </div>

 <div class="row">
  <div class="col-sm-3 mt-3"></div>
  <div class="col-sm-3 mt-3"><%= f.submit "新規登録", class: "btn btn-success btn-sm mb-2" %></div>
 </div>

 <% end %>


 <div class="row">
  <div class="col-sm-12 mt-5">
   <span class="h5 text-dark">既に登録済みの方</span>
  </div>
 </div>

 <div class="row">
  <div class="col-sm-4 mt-3">
   <%= link_to "こちら", new_member_session_path %>からログインしてください。
  </div>
 </div>

</div>


