<div class="container">
 <div class="row">
   <div class="col-sm-2 mt-3">
   <table class = "table-sm table-borderless">
    <thead>
     <th class="table-active h5">投稿編集</th>
    </thead>
   </table>
  </div>
 </div>

<%= form_with model: @item, url: admin_item_path(@item), local:true do |f| %>
 <div class="row">
  <div class="col-sm-2 mt-3"></div>
  <div class="col-sm-2 mt-3 mx-left"><%= f.label :image, "商品画像" %></div>
  <div class="col-sm-4 mt-3 mx-left"><%= f.file_field :image, accept: "image/*" %></div>
 </div>
 <div class="row">
  <div class="col-sm-2 mt-3"></div>
  <div class="col-sm-2 mt-3 mx-left"><%= f.label :name, "商品名" %></div>
  <div class="col-sm-4 mt-3 mx-left"><%= f.text_field :name, class: "form-control" %></div>
 </div>
 <div class="row">
  <div class="col-sm-2 mt-3"></div>
  <div class="col-sm-2 mt-3 mx-left"><%= f.label :introduction, "商品説明" %></div>
  <div class="col-sm-4 mt-3 mx-left"><%= f.text_area :introduction, class: "form-control" %></div>
 </div>
 <div class="row">
  <div class="col-sm-2 mt-3"></div>
  <div class="col-sm-2 mt-3 mx-left"><%= f.label :genre, "ジャンル" %></div>
  <div class="col-sm-4 mt-3 mx-left"><%= f.collection_select :genre_id, Genre.all, :id, :name, option = { include_blank: false }, class: "form-control" %></div>
 </div>
 <div class="row">
  <div class="col-sm-2 mt-3"></div>
  <div class="col-sm-2 mt-3 mx-left"><%= f.label :price, "税抜価格" %></div>
  <div class="col-sm-4 mt-3 mx-left"><%= f.text_field :price %>円</div>
 </div>
 <div class="row">
  <div class="col-sm-2 mt-3"></div>
  <div class="col-sm-2 mt-3 mx-left"><%= f.label :is_active, "販売ステータス" %></div>
  <div class="col-sm-8 mt-3 mx-left">
   <%= f.radio_button :is_active, Item.is_actives.key(true) %>
   <%= f.label :is_active, Item.is_actives_i18n[:sale] %>
   <%= f.radio_button :is_active, Item.is_actives.key(false) %>
   <%= f.label :is_active, Item.is_actives_i18n[:suspended] %>
  </div>
 </div>
 <div class="row">
  <div class="col-sm-2 mt-3"></div>
  <div class="col-sm-2 mt-3"></div>
  <div class="col-sm-2 mt-3 mx-left"><%= f.submit "変更を保存", class: "btn btn-success btn-sm btn-block mt-2 mb-2" %></div>
 </div>
<% end %>

</div>