<div class="container">
 <div class="row">
  <div class="col-sm-3 mt-3">
   <table class = "table-sm table-borderless">
    <thead>
     <th class="table-active h4">ログイン</th>
    </thead>
   </table>
  </div>
 </div>

 <div class="row">
  <div class="col-sm-12 mt-5">
   <table class = "table-sm table-borderless">
    <thead>
     <th class="table-active h5">会員の方はこちらからログイン</th>
    </thead>
   </table>
  </div>
 </div>

<%= form_with model: @member, url: member_session_path(@member), method: :create, local: true do |f| %>
 <div class="row">
  <div class="col-3"></div>
   <div class="col-2 mt-auto mx-left" style="width: 200px;">
    <%= f.label :email,  "メールアドレス" %>
   </div>
   <div class="col-4 mx-left" style="width: 200px;">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
   </div>
  </div>

 <br>

 <div class="row">
  <div class="col-3"></div>
  <div class="col-2 mt-auto mx-left">
    <%= f.label :password, "パスワード" %>
  </div>
  <div class="col-4 mx-left">
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>
 </div>

<br>

 <div class="row">
  <div class="col-3"></div>
  <div class="col-2"></div>
  <div class="col-2 mx-left"><%= f.submit "ログイン", class: "btn btn-primary btn-sm btn-block mt-2 mb-2" %></div>
 </div>
<% end %>

 <div class="row">
  <div class="col-sm-12 mt-5">
   <span class = "h5 text-dark">　会員登録がお済みでない方</span>
  </div>
 </div>
 <div class="row">
  <div class="col-sm-2 mt-3"></div>
  <div class="col-sm-8 mt-3 mx-left">
   <span class = "h5 text-dark"><%= link_to "こちら", new_member_registration_path %>から新規登録を行ってください。</span>
  </div>
 </div>
</div>